// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2019 NXP
 * Copyright 2020-2021 Variscite Ltd.
 */


&pca9534 {
    usb3_sel_hog {
        status = "disabled";
    };
};

&gpio_leds {
    status = "okay";

    heartbeat {
        label = "New Heartbeat";
        linux,default-trigger = "none"; // Changing the trigger
        gpios = <&gpio5 0 GPIO_ACTIVE_LOW>; // Redefining the GPIO pin and polarity
    };
};


&ecspi2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ecspi2>;
	cs-gpios = <&gpio5 13 GPIO_ACTIVE_LOW>, //gpio 4 13 
			<&gpio3 06 GPIO_ACTIVE_LOW>;    //gpio 2 6
	fsl,spi-num-chipselects = <2>;
	status = "okay";

	spidev@0 {
		compatible = "var,spidev";
		reg = <0>;
		spi-max-frequency = <12000000>;
		status = "okay";
	};

	spi-dscam-fpga@1{
		compatible="abyz,spi-dscam-fpga";
		reg=<1>;
		spi-max-frequency=<12000000>;
		cs-gpios=<&gpio3 06 GPIO_ACTIVE_LOW>;
		status="okay";
	};

};

&pinctrl_ecspi2 {
    fsl,pins = <
        MX8MP_IOMUXC_ECSPI2_SCLK__ECSPI2_SCLK    0x12
        MX8MP_IOMUXC_ECSPI2_MOSI__ECSPI2_MOSI    0x12
        MX8MP_IOMUXC_ECSPI2_MISO__ECSPI2_MISO    0x12
        MX8MP_IOMUXC_ECSPI2_SS0__GPIO5_IO13      0x12        
		MX8MP_IOMUXC_NAND_DATA00__GPIO3_IO06	 0x12
    >;
};